/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* from cultureMe - older version */
/* .App {
  width: 100%;
  height: auto; 
  margin: 0 auto;
  margin: 0;
  padding:0;
} */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-appearance: none;
}


h2 {
  font-family: Georgia;
} 
p2{
  color:black;
  font-size: 2.5vmax;
  font-family: Arial;
  text-align: center;
  float: center;
  font-style: italic;
  /* width: 50vmax; */
}

p{
  color:black;
  font-size: 2.5vmax;
  font-family: Arial;
  text-align: center;
  float: center;
  font-style: italic;
  /* width: 50vmax; */
}

u{
  color:black;
  font-size: 1.2vmax;
  font-family: Arial;
  text-align: center;
  float: center;
  
}

u:hover,
u:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

p1{
  color:black;
  font-size: 1.2vmax;
  font-family: Arial;
  text-align: center;
  /* float: center; */
  
} 




/* div[class='fields1-group'] {
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin: auto;
  width: 80vw;
} */

/* input[type=text] {
  width: 15vw;
  padding: 1vmin 1vmin;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  font-size: 1vmax;
  text-align: center;
} */
.field {
  width: 15vw;
  padding: 1vmin 1vmin;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  font-size: 1vmax;
  text-align: center;
}

.containerM {
  position: relative;
  width: 100vw;
}

/* .header {
  overflow: hidden;
  background-color: rgba(240, 69, 111, 0.945);
  padding: 20px 10px;
  
} */

/* .container .slide {
  width:100vw;
  height:75vh;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.2;
  -webkit-appearance: none;
}   */
.slide {
  width:100vw;
  height:75vh;
  margin-left: auto;
  margin-right: auto;
  /* opacity: 0.5; */
  -webkit-appearance: none;
}
/* .slide {
  display:none;
} */


.containerM .signInBtn {
  float:right;
  /* position: absolute;
  top: 2vh;
  right: 1vw; */
  transform: translate(-5vw, -72vh);

  /* transform: translate(-50vw, -50vh); */
  /* -ms-transform: translate(-80%, -1400%); */
  background-color: Transparent;
  color: white;
  font-size: 1.5vmax;
  font-weight: bold;
  padding: 1vmin 1.5vmin;
  border: none;
  cursor: pointer;
  /* border-radius: 5px; */
  -webkit-appearance: none;
}

.containerM .signInBtn:hover {
  background-color: Transparent;
  border-bottom: 0.4vmin solid currentColor;
  

}

.containerM .signInBtn:focus {
  outline: 0;

}
.signInBtnN {
  float:right;
  /* position: absolute;
  top: 2vh;
  right: 1vw; */
  transform: translate(-5vw, -72vh);

  /* transform: translate(-50vw, -50vh); */
  /* -ms-transform: translate(-80%, -1400%); */
  background-color: Transparent;
  color: white;
  font-size: 1.2vmax;
  padding: 1vmin 1.5vmin;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  -webkit-appearance: none;
}

.signInBtnN:hover {
  background-color: white;
}


.containerM .signUpBtn {
  float: right;
  transform: translate(-5vw, -72vh);
  /* -ms-transform: translate(-80%, -1400%); */
  background-color: Transparent;
  color: white;
  font-size: 1.5vmax;
  font-weight: bold;
  padding: 1vmin 1.5vmin;
  border: none;
  cursor: pointer;
  /* border-radius: 5px; */
  margin-right: 0.5vw;
  -webkit-appearance: none;
}

.containerM .signUpBtn:hover {
  background-color:Transparent;
  -webkit-appearance: none;
  /* text-decoration: underline;
  text-underline-position: under */
  border-bottom: 0.4vmin solid currentColor

}

.containerM .signUpBtn:focus {
  outline: 0;

}



/*Provide a Service button on main page*/

.containerM .PSBtn {
  float: right;
  transform: translate(-5vw, -72vh);
  /* -ms-transform: translate(-80%, -1400%); */
  background-color: Transparent;
  color: white;
  font-size: 1.5vmax;
  font-weight: bold;
  padding: 1vmin 1.5vmin;
  border: none;
  cursor: pointer;
  /* border-radius: 5px; */
  margin-right: 0.5vw;
  -webkit-appearance: none;
}

.containerM .PSBtn:hover {
  background-color:Transparent;
  -webkit-appearance: none;
  /* text-decoration: underline;
  text-underline-position: under */
  border-bottom: 0.4vmin solid currentColor

}

.containerM .PSBtn:focus {
  outline: 0;

}






/* .container .logo1 {
  position: absolute;
  top: 25vh;
  right: 50vw;
  left:50vw;
  height: 18vmin;
  width: 15vmin;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-appearance: none;
} */

.containerM .logoCM {
  position: absolute;
  top:40px;
  right:35px;
  left:35px;
  height: 45px;
  width: 45px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-appearance: none;
  
}

/* popup page */

/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.BCcontent {
  background-color: #fefefe;
  margin: 8% auto;
  padding: 55px;
  border: 1px solid #888;
  width: 45%;
}*/
/* .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}  */

/* temp modal stuff */
.testModal {
  font-size: 1.2vmax;
}
.testModal > .header {
  width: 40vw;
  border-bottom: 1px solid gray;
  font-size: 2vw;
  text-align: center;
  padding: 5px;
}
.testModal > .content {
  width: 40vw;
  padding: 1vh 1vw;
  text-align: center;
}
.testModal > .actions {
  width: 40vw;
  padding: 1vh 1vw;
  margin: auto;
  text-align: center;
}
.testModal > .close {
    color: #aaa;
    padding: 1.5vmax 1.5vmax;
    float: right;
    font-size: 2.5vmax;
    font-weight: bold;
    -webkit-appearance: none;
  
}

.testModal > .close:hover,
.testModal > .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* additional stuff */

div[class='fields-group'] {
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin: auto;
  width: 60%;
}

.submitBtn{
  background-color:rgba(240, 69, 111, 0.945);
  /* background-color: #dd4068; */
  /* background-color: #555; */
  color: white;
  font-size: 1.2vmax;
  padding: 1vmin 1.5vmin;
  font-family: Arial;
  text-align: center;
  /* width: 100vw; */
  /* max-width: 150px; */
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: middle;
  -webkit-appearance: none;
  /* float: right;
  transform: translate(-5vw, -72vh);
  background-color: #555;
  color: white;
  font-size: 1.2vw;
  padding: 1vh 1vw;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 0.5vw; */
    
}

.submitBtn:hover{
  background-color: rgba(221, 64, 104, 0.945);
  -webkit-appearance: none;
}
.submitBtn:disabled{
  background-color: rgba(223, 115, 142, 0.945);
  -webkit-appearance: none;
}

/* search bar and search button */
.nearMe {
  width: 15.5vw;
  padding: 1vmin 1vmin;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: px;
  box-sizing: border-box; 
  background-color: white;
  font-size: 1vmax;
  text-align: left;
  position: absolute;
  top: 40vh;
  left:63.5vw;
  height: 4.5vh;
  /* border-left: 1px solid gray; */
  /* right: 50vw; */
  /* left:50%; */
  /* transform: translate(-50%, -50%); */
  /* -ms-transform: translate(-50%, -50%); */
  -webkit-appearance: none;

}

.nearMe input {
  width: 80%;
}

/* .pnearMe{
  text-align: left;
  position: absolute;
  top: 40vh;
  left:59vw;
  height: 1000vh;
  color: #000000;
 font-weight: bolder;

  
  
} */



/* search bar and search button */
.search {
  width: 27vw;
  padding: 1vmin 1vmin;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: px;
  box-sizing: border-box; 
  background-color: white;
  font-size: 1vmax;
  text-align: left;
  position: absolute;
  top: 40vh;
  left:31vw;
  height: 4.5vh;
  /* right: 50vw; */
  /* left:50%; */
  /* transform: translate(-50%, -50%); */
  /* -ms-transform: translate(-50%, -50%); */
  -webkit-appearance: none;
}
.search input {
  width: 400px;
  padding: 0 20px;
}

.search input,
input::-webkit-input-placeholder {
  font-size: 1vw;
  line-height: 3;
}


.BackSearch{
  background:  rgba(184, 172, 157, 0.932);
  top: 38.5vh;
  height: 7.5vh;
  width: 62vw;
  left: 23vw;
  position: absolute;
  margin: 8px 0;
  opacity: 0.7;

}

.searchlabel{
  width: 6.5vw;
  padding: 1vmin 1vmin;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: px;
  box-sizing: border-box; 
  background-color: white;
  font-size: 1vw;
  /* font-size-adjust: 0.58; */
  text-align: center;
  position: absolute;
  top: 40vh;
  left:24.5vw;
  height: 4.5vh;
  /* right: 50vw; */
  /* left:50%; */
  /* transform: translate(-50%, -50%); */
  /* -ms-transform: translate(-50%, -50%); */
  -webkit-appearance: none;
  font-weight: bold;
}
.searchlabel:focus {
  outline: 0;

}

.nearMelabel{
  width: 4.5vw;
  padding: 1vmin 1vmin;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: px;
  box-sizing: border-box; 
  background-color: white;
  font-size: 1vw;
  /* font-size-adjust: 0.58; */
  text-align: center;
  position: absolute;
  top: 40vh;
  left: 59vw;
  height: 4.5vh;
  /* right: 50vw; */
  /* left:50%; */
  /* transform: translate(-50%, -50%); */
  /* -ms-transform: translate(-50%, -50%); */
  -webkit-appearance: none;
  font-weight: bold;
}
.nearMelabel:focus {
  outline: 0;

}
.line{
  /* width: 5vw;
  padding: 1vmin 1vmin;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  position: absolute;
  top: 39.3vh;
  left:55.5vw;
  height: 6vh;
  /* border-left: 1px solid gray; */
  /* right: 50vw; */
  /* left:50%; */
  /* transform: translate(-50%, -50%); */
  /* -ms-transform: translate(-50%, -50%); */
  /* -webkit-appearance: none; */
}

.searchButton {
  top: 40vh;
  left: 80vw;
  width:4vw;
  height:4.5vh;
  margin: 8px 0;
  /* left:20vw; */
  position: absolute;
  /* float:right; */
  /* transform: translate(-50%, -50%); */
  /* -ms-transform: translate(-550%, -820%); */
  background-color: #555;
  color: white;
  font-size: 1vmax;
  text-align: center;
  padding: 1vmin 1vmin;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  -webkit-appearance: none;
}

.searchButton:hover {
  background: black;
  -webkit-appearance: none;
}

/* Popular Services */
.popularServ {
  color: palevioletred;
  font-size: 3vmax;
  font-weight: bold;
  -webkit-appearance: none;
}

.spacePop{
  display: block;
  /* margin-left: 8vmax;
  margin-right: 8vmax; */
  /* width: 92vw; */
  
  margin-left: 10vw;

}

.container1 {
  display: inline-block;
  position: relative;
  width: 20vmax;
  margin-right: 1vmin;
  margin-left: 1vmin
  /* padding: 1vmin 1vmin; */
}

.imagePop {
  display: inline-block;
  width: 20vmax;
  /* height: 15vmax; */
  height: 20vw;
  display: block;
 
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* -webkit-border-radius: 99em;
  -moz-border-radius: 99em; */
  /* border-radius: 99em; */
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
  /* border-radius: 70%; */
border: 0px solid #000000;
  box-sizing: border-box; 
 overflow: hidden;
  
 
  /* padding: 1vmin 1vmin; */
}

.overlayPop {
  width: 20vmax;
  height: 20vmax;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: whitesmoke;
  padding: 1vmin 1vmin;
  display: block;
 
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* -webkit-border-radius: 99em;
  -moz-border-radius: 99em; */
  /* border-radius: 99em; */
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
  /* border-radius: 70%; */
border: 0px solid #000000;
  box-sizing: border-box; 
 overflow: hidden; 
}

.container1:hover .overlayPop {
  opacity: 0.9;

}

.text1 {
  color:black;
  font-size: 3vmin;
  position: absolute;
  font-weight: bold;
  top: 50%;
  left: 50%;
  width: 100%;
    height: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.searchbarNAV {
  width: 60vw;
  padding: 1vmin 1vmin;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid white;
  
  box-sizing: border-box; 
  background-color: white;
  font-size: 1.2vmax;
  text-align: center;
  /* position: absolute; */
  top: 0.5vh;
  left:15vw;
  height: 4.5vh;
  /* right: 50vw; */
  /* left:50%; */
  /* transform: translate(-50%, -50%); */
  /* -ms-transform: translate(-50%, -50%); */
  -webkit-appearance: none;

}
.search input {
  width: 70%;
}

.searchButtonNAV {
  top: 0.5vh;
  left: 75.2vw;
  width:3.5vw;
  height:4.6vh;
  margin: 6px 0;
  /* position: absolute; */
  
  /* float:right; */
   background-color: #555;
  color: white;
  font-size: 1.5vmax;
   
   /* position: absolute; */
  
  border: none;
  cursor: pointer;
 
  -webkit-appearance: none;
}

.searchButtonNAV:hover {
  background: rgb(65, 64, 64);
  -webkit-appearance: none;
}

.logo {
  /* position: absolute; */
  top: 3.4vh;
  right: 4vw;
  left:4vw;
  height: 10.2vmin;
  width: 10.2vmin;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-appearance: none;
}


/* NAVBAR MODAL (SIGN IN, SIGN UP) */
.SigninNAV{
  color:rgb(168, 166, 166);
  font-size: 1.5vmax;
  font-family: Arial;
   /* text-align: right; */
   /* position: absolute; */
  /* float: center; */
  
}

.SigninNAV:hover,
.SigninNAV:focus {
  color:white;
  text-decoration: none;
  cursor: pointer;
}

.SignupNAV{
  /* top: 3.4vh;
  right: 14vw;
  left:4vw; */
  color:rgb(168, 166, 166);
  font-size: 1.5vmax;
  font-family: Arial;
  
  
  /* float: center; */
  
}

.SignupNAV:hover,
.SignupNAV:focus {
  color:white;
  text-decoration: none;
  cursor: pointer;
}



.Navbar .searchNAV {
  width: 60vw;
  padding: 1vmin 1vmin;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box; 
  background-color: white;
  font-size: 1vmax;
  text-align: center;
  position: absolute;
  top: 40vh;
  left:20vw;
  height: 4.5vh;
  /* right: 50vw; */
  /* left:50%; */
  /* transform: translate(-50%, -50%); */
  /* -ms-transform: translate(-50%, -50%); */
  -webkit-appearance: none;

}
.Navbar .searchNAV input {
  width: 80%;
}

.Navbar.searchButtonNAV {
  top: 40vh;
  left: 80vw;
  width:4vw;
  height:4.5vh;
  margin: 8px 0;
  /* left:20vw; */
  position: absolute;
  /* float:right; */
  /* transform: translate(-50%, -50%); */
  /* -ms-transform: translate(-550%, -820%); */
  background-color: #555;
  color: white;
  font-size: 1vmax;
  text-align: center;
  padding: 1vmin 1vmin;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  -webkit-appearance: none;
}

.Navbar.searchButtonNAV:hover {
  background: black;
  -webkit-appearance: none;
}


/* Testimonials */

.img-circle {
  height: 12vw;
  display: block;
 
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  

  /* transform: translateX(-50%);
  margin-left: 50%; */
}

.TestimonialBlock {
  /* margin: 1vh auto; */
  /* left:22vw;
  right:22vw; */
  padding: 10vmin 10vmin;
  margin: 8px 0;
}
.TestimonialName {
  font-size: 2vmax;
  font-weight:bold;
  left:15vw;
  font-family: Arial;
  color: rgb(70, 69, 69)
}

.TestimonialOccupation {
  font-size: 1.5vmax;
  font-weight:bold;
  left:15vw;
  font-family: Arial;
  color: rgb(11, 154, 236);
}

.TestimonialCmt {
  
  font-size: 1.3vmax;
  
  font-family: Arial;
  color: black;
}

/* signUp page */
.backgroundImg {
  width:100vw;
  height:100vh;
  margin-left: auto;
  margin-right: auto;
  -webkit-appearance: none;

}

.signUpMainModal {
  position: fixed;
  left: 30vw;
  top: 50vh;
  transform: translateY(-50%);
  overflow: auto;


}

.signUpPageBg {
  /* background-color: #fefefe; */
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-color: rgba(255,255,255,0.4);
  margin: 8vmin auto;
  padding: 4vmax;
  width: 40vw;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
  margin-bottom: 50px;

}
.signUpPageFields {
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin: auto;
  /* width: 80%; */
}

.popupLogo {
  /* position: absolute;
  top:3vw;
  right:70vw;
  left:5vw; */
  height: 15vmin;
  width: 15vmin;
  /* transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
  -webkit-appearance: none;
}

/* signup signin validations */
.valid {
  color: green;
  font-size: 1.5vh;
  margin-bottom: 0px;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
  font-size: 1.5vh;
  margin-bottom: 0px;
  
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

.pwWarning {
  position: relative;
  color: black;
  font-size: 2vh;
  /* left: -35px; */
}

/* 
Adjusting create and view service icons and text */


/* 
Coolgyal Image adjusting */
.CoolGyalImg{
    /* position: relative; */
    height: 30vw;
    width: 25vw;
    /* margin:2vh */
    /* -webkit-appearance: none; */
}
.CoolGyal .CoolGyalImg{

  top: 0vh;
  left: 13vh;
  margin-left: 0px;
 

}

/* Footer Setting */

.mainpagefooter{
  flex: 1 0 auto;
 -webkit-flex: 1 0 auto;
 min-height: -100%;
 /* margin-top: 28.5vh; */
}

.spfooter{
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  min-height: -100%;
  margin-top: 30vh;
  margin-left: 0px;
  width: 100%;


}

.icon-plus {
  text-align: center;
  padding-top: 1.5vh;
  padding-bottom: 16px;
}

.btnA {
  background-color:  #fa7392;
  border: none;
  color: white;
  box-shadow: 0 3px 2px rgba(0, 0, 0.3, 0.3); 
  font-size: 3vh;
  cursor: pointer;
  height: 20vh;
  width: 30vw;
  margin: 1.5vh;

  
}

.footerSetting {
  /* width: auto;
  margin: 0;
  padding: 0 */

}


/* Darker background on mouse-over */
.btnA:hover {
  background-color: rgba(240, 69, 111, 0.945);
}


.btnV {
  background-color:  #fa7392;
  border: none;
  color: white;
  box-shadow: 0 3px 2px rgba(0, 0, 0.3, 0.3); 
  font-size: 3vh;
  cursor: pointer;
  height: 20vh;
  width: 30vw;
  margin: 1.5vh;

}



/* Darker background on mouse-over */
.btnV:hover {
  background-color: rgba(240, 69, 111, 0.945);
}



.wrimagecard{	
	margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
    background:  rgba(216, 197, 231, 0.15);
}
.wrimagecard .fa{
	position: relative;
  font-size: 15vh;
  
  /* color: pink; */
}
.wrimagecard-topimage_header{
padding: 20px;
}
a.wrimagecard:hover, .wrimagecard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(181, 201, 218, 0.2);
}

.wrimagecard-topimage a {
    width: 100%;
    height: 100%;
    display: block;
}
.wrimagecard-topimage_title {
    padding: 20px 24px;
    height: 80px;
    padding-bottom: 0.75rem;
    position: relative;
}
.wrimagecard-topimage a {
    border-bottom: none;
    text-decoration: none;
    color:#00838f ;
    transition: color red 0.3s ease;
}

.container-fluid{
  margin-top: 2vh;
  left: 40px;
}
  
.moveElements{
 
  padding-top: 5vw;
  padding-left: 20vw;

}

.removeButton {
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btnupload {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  float: right;
  left: 0;
  top: 0;
  opacity: 0;
}


.doneButton {
  background-color: palevioletred; /* Green */
  border: none;
  color: white;
  padding: 20px 50px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  /* position:absolute; */
  /* bottom: -250px;
    right:500px; */
    margin-bottom: 2vh;
    
    
}

.CoolGyalUpload{
  position: absolute;
  height: 90vh;
    width: 35vw;
    /* float:right; */
    padding-right: 5vw;
right: 3vw;
top: 5vh;
  /* height:600px;
  width:600px ;
  
  padding-right: 10vw;
   padding-top:20px; */
}

.imageUploadSize{

  height:35vh;
  width:25vw;
  float:center;
}

.Heading {
  margin-left: 1.5vw;
  margin-top: 1.5vh;
}

/* step1 page */

.steponebutton{
  width: 30vw;
  height:5vh;
  padding: 1vmin 1vmin;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  font-size: 1vmax;
  text-align: center;
}

.steponebuttontext{

  width: 30vw;
  height:5vh;
  padding: 1vmin 1vmin;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  font-size: 1vmax;
  text-align: center;
  
}

.step1cnt{
  background-color:rgba(240, 69, 111, 0.945);
  /* background-color: #dd4068; */
  /* background-color: #555; */
  color: white;
  font-size: 2vmax;
  padding: 1vmin 1.5vmin;
  font-family: Arial;
  text-align: center;
  /* width: 100vw; */
  /* max-width: 150px; */
  margin: 30px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: middle;
  -webkit-appearance: none;
  /* float: right;
  transform: translate(-5vw, -72vh);
  background-color: #555;
  color: white;
  font-size: 1.2vw;
  padding: 1vh 1vw;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 0.5vw; */

}

.CoolGyalstep1{
  position: relative;
  height: 80vh;
    width: 35vw;
    float:right;
    padding-right: 5vw;
right: -0vw;
top: -25vh;
  /* height:600px;
  width:600px ;
  
  padding-right: 10vw;
   padding-top:20px; */

}

label{
  color: black;
  font-size: 1.5vmax;
}

.states order-alpha{
margin-right: 2vw;
}

.spfooter1{

  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
  
}


.HeadingVE {
  margin-left: 1.5vw;
  margin-top: 1.5vh;
  color:rgba(240, 69, 111, 0.945);
  font-size: 2.2vmax;
 
}

.checked {
  color: orange;
  font-size: 1.7vmax;
 
}

.symbols{
  margin-left: 2vw;
  margin-bottom:.5vh;
 
}

.contentVE{
  margin-left: 2vw;
  margin-bottom:.3vh;
  font-size: 1.5vmax;
  font-weight: bold;
}

.content{
  margin-right: 70vw;
}
.fa-pen{
  font-size: 1.5vmax;
 margin-left: 10vw;
/* padding-bottom: 20vh; */

}



.contentVES{
  margin-left: 2vw;
  margin-bottom:.3vh;
  font-size: 1.5vmax;
  word-wrap: break-word;
  width:15vw;
}

.contentVES {
  word-wrap: break-word;
}

/* .fa-times{
  font-size: 1.5vmax;
  margin-left: 15vw;
  /* display: inline-block; */
/* } */
/* 
.fa-check {
  color:green;
  font-size: 1.5vmax;
  margin-left: 10vw;
  /* display: inline-block; */
/* } */ 


.fa-times{
  font-size: 1.5vmax;
  color:red;
}

.fa-check {
  color:green;
  font-size: 1.5vmax;
}
/* CSS for myAccount page  */

.editButtons{
  position: relative;
    width: 50vw;
    float:right;
    padding-right: 20vw;

right: -0vw;
top: -2vh;
}

.editAccount{
background-color: #FFEFD5;
}
