/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* from cultureMe - older version */
/* .App {
  width: 100%;
  height: auto; 
  margin: 0 auto;
  margin: 0;
  padding:0;
} */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-appearance: none;
}


h2 {
  font-family: Georgia;
} 
p{
  color:black;
  font-size: 2.5vmax;
  font-family: Arial;
  text-align: center;
  float: center;
  font-style: italic;
  /* width: 50vmax; */
}

u{
  color:black;
  font-size: 1.2vmax;
  font-family: Arial;
  text-align: center;
  float: center;
  
}

u:hover,
u:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

p1{
  color:black;
  font-size: 1.2vmax;
  font-family: Arial;
  text-align: center;
  /* float: center; */
  
} 




/* div[class='fields1-group'] {
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin: auto;
  width: 80vw;
} */

/* input[type=text] {
  width: 15vw;
  padding: 1vmin 1vmin;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  font-size: 1vmax;
  text-align: center;
} */
.field {
  width: 15vw;
  padding: 1vmin 1vmin;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  font-size: 1vmax;
  text-align: center;
}

.containerM {
  position: relative;
  width: 100vw;
}

/* .header {
  overflow: hidden;
  background-color: rgba(240, 69, 111, 0.945);
  padding: 20px 10px;
  
} */

/* .container .slide {
  width:100vw;
  height:75vh;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.2;
  -webkit-appearance: none;
}   */
.slide {
  width:100vw;
  height:75vh;
  margin-left: auto;
  margin-right: auto;
  /* opacity: 0.5; */
  -webkit-appearance: none;
}
/* .slide {
  display:none;
} */


.containerM .signInBtn {
  float:right;
  /* position: absolute;
  top: 2vh;
  right: 1vw; */
  transform: translate(-5vw, -72vh);

  /* transform: translate(-50vw, -50vh); */
  /* -ms-transform: translate(-80%, -1400%); */
  background-color: Transparent;
  color: white;
  font-size: 1.2vmax;
  padding: 1vmin 1.5vmin;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  -webkit-appearance: none;
}

.containerM .signInBtn:hover {
  background-color: Transparent;
}

.signInBtnN {
  float:right;
  /* position: absolute;
  top: 2vh;
  right: 1vw; */
  transform: translate(-5vw, -72vh);

  /* transform: translate(-50vw, -50vh); */
  /* -ms-transform: translate(-80%, -1400%); */
  background-color: Transparent;
  color: white;
  font-size: 1.2vmax;
  padding: 1vmin 1.5vmin;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  -webkit-appearance: none;
}

.signInBtnN:hover {
  background-color: white;
}


.containerM .signUpBtn {
  float: right;
  transform: translate(-5vw, -72vh);
  /* -ms-transform: translate(-80%, -1400%); */
  background-color: Transparent;
  color: white;
  font-size: 1.2vmax;
  padding: 1vmin 1.5vmin;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 0.5vw;
  -webkit-appearance: none;
}

.containerM .signUpBtn:hover {
  background-color:Transparent;
  -webkit-appearance: none;
}

/* .container .logo1 {
  position: absolute;
  top: 25vh;
  right: 50vw;
  left:50vw;
  height: 18vmin;
  width: 15vmin;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-appearance: none;
} */

.containerM .logoCM {
  position: absolute;
  top:3vw;
  right:70vw;
  left:5vw;
  height: 20vmin;
  width: 20vmin;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-appearance: none;
}

/* popup page */

/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.BCcontent {
  background-color: #fefefe;
  margin: 8% auto;
  padding: 55px;
  border: 1px solid #888;
  width: 45%;
}*/
/* .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}  */

/* temp modal stuff */
.testModal {
  font-size: 1.2vmax;
}
.testModal > .header {
  width: 40vw;
  border-bottom: 1px solid gray;
  font-size: 2vw;
  text-align: center;
  padding: 5px;
}
.testModal > .content {
  width: 40vw;
  padding: 1vh 1vw;
  text-align: center;
}
.testModal > .actions {
  width: 40vw;
  padding: 1vh 1vw;
  margin: auto;
  text-align: center;
}
.testModal > .close {
    color: #aaa;
    padding: 1.5vmax 1.5vmax;
    float: right;
    font-size: 2.5vmax;
    font-weight: bold;
    -webkit-appearance: none;
  
}

.testModal > .close:hover,
.testModal > .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* additional stuff */

div[class='fields-group'] {
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin: auto;
  width: 60%;
}

.submitBtn{
  background-color:rgba(240, 69, 111, 0.945);
  /* background-color: #dd4068; */
  /* background-color: #555; */
  color: white;
  font-size: 1.2vmax;
  padding: 1vmin 1.5vmin;
  font-family: Arial;
  text-align: center;
  /* width: 100vw; */
  /* max-width: 150px; */
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: middle;
  -webkit-appearance: none;
  /* float: right;
  transform: translate(-5vw, -72vh);
  background-color: #555;
  color: white;
  font-size: 1.2vw;
  padding: 1vh 1vw;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 0.5vw; */
    
}

.submitBtn:hover{
  background-color: rgba(221, 64, 104, 0.945);
  -webkit-appearance: none;
}

/* search bar and search button */
.search {
  width: 60vw;
  padding: 1vmin 1vmin;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box; 
  background-color: white;
  font-size: 1vmax;
  text-align: center;
  position: absolute;
  top: 40vh;
  left:20vw;
  height: 4.5vh;
  /* right: 50vw; */
  /* left:50%; */
  /* transform: translate(-50%, -50%); */
  /* -ms-transform: translate(-50%, -50%); */
  -webkit-appearance: none;

}
.search input {
  width: 80%;
}

.searchButton {
  top: 40vh;
  left: 80vw;
  width:4vw;
  height:4.5vh;
  margin: 8px 0;
  /* left:20vw; */
  position: absolute;
  /* float:right; */
  /* transform: translate(-50%, -50%); */
  /* -ms-transform: translate(-550%, -820%); */
  background-color: #555;
  color: white;
  font-size: 1vmax;
  text-align: center;
  padding: 1vmin 1vmin;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  -webkit-appearance: none;
}

.searchButton:hover {
  background: black;
  -webkit-appearance: none;
}

/* Popular Services */
.popularServ {
  color: palevioletred;
  font-size: 3vmax;
  font-weight: bold;
  -webkit-appearance: none;
}

.spacePop{
  display: block;
  margin-left: 8vmax;
  margin-right: 8vmax;
  width: 92vw;

}

.container1 {
  display: inline-block;
  position: relative;
  width: 20vmax;
  margin-right: 1vmin;
  margin-left: 1vmin
  /* padding: 1vmin 1vmin; */
}

.imagePop {
  display: inline-block;
  width: 20vmax;
  height: 20vmax;
  /* padding: 1vmin 1vmin; */
}

.overlayPop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20vmax;
  width: 20vmax;
  opacity: 0;
  transition: .5s ease;
  background-color: whitesmoke;
  padding: 1vmin 1vmin;
}

.container1:hover .overlayPop {
  opacity: 0.9;
}

.text1 {
  color:black;
  font-size: 3vmin;
  position: absolute;
  font-weight: bold;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.searchbarNAV {
  width: 60vw;
  padding: 1vmin 1vmin;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid white;
  
  box-sizing: border-box; 
  background-color: white;
  font-size: 1.2vmax;
  text-align: center;
  /* position: absolute; */
  top: 0.5vh;
  left:15vw;
  height: 4.5vh;
  /* right: 50vw; */
  /* left:50%; */
  /* transform: translate(-50%, -50%); */
  /* -ms-transform: translate(-50%, -50%); */
  -webkit-appearance: none;

}
.search input {
  width: 70%;
}

.searchButtonNAV {
  top: 0.5vh;
  left: 75.2vw;
  width:3.5vw;
  height:4.6vh;
  margin: 6px 0;
  /* position: absolute; */
  
  /* float:right; */
   background-color: #555;
  color: white;
  font-size: 1.5vmax;
   
   /* position: absolute; */
  
  border: none;
  cursor: pointer;
 
  -webkit-appearance: none;
}

.searchButtonNAV:hover {
  background: rgb(65, 64, 64);
  -webkit-appearance: none;
}

.logo {
  /* position: absolute; */
  top: 3.4vh;
  right: 4vw;
  left:4vw;
  height: 10.2vmin;
  width: 10.2vmin;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-appearance: none;
}


/* NAVBAR MODAL (SIGN IN, SIGN UP) */
.SigninNAV{
  color:rgb(168, 166, 166);
  font-size: 1.5vmax;
  font-family: Arial;
   /* text-align: right; */
   /* position: absolute; */
  /* float: center; */
  
}

.SigninNAV:hover,
.SigninNAV:focus {
  color:white;
  text-decoration: none;
  cursor: pointer;
}

.SignupNAV{
  /* top: 3.4vh;
  right: 14vw;
  left:4vw; */
  color:rgb(168, 166, 166);
  font-size: 1.5vmax;
  font-family: Arial;
  
  
  /* float: center; */
  
}

.SignupNAV:hover,
.SignupNAV:focus {
  color:white;
  text-decoration: none;
  cursor: pointer;
}



.Navbar .searchNAV {
  width: 60vw;
  padding: 1vmin 1vmin;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box; 
  background-color: white;
  font-size: 1vmax;
  text-align: center;
  position: absolute;
  top: 40vh;
  left:20vw;
  height: 4.5vh;
  /* right: 50vw; */
  /* left:50%; */
  /* transform: translate(-50%, -50%); */
  /* -ms-transform: translate(-50%, -50%); */
  -webkit-appearance: none;

}
.Navbar .searchNAV input {
  width: 80%;
}

.Navbar.searchButtonNAV {
  top: 40vh;
  left: 80vw;
  width:4vw;
  height:4.5vh;
  margin: 8px 0;
  /* left:20vw; */
  position: absolute;
  /* float:right; */
  /* transform: translate(-50%, -50%); */
  /* -ms-transform: translate(-550%, -820%); */
  background-color: #555;
  color: white;
  font-size: 1vmax;
  text-align: center;
  padding: 1vmin 1vmin;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  -webkit-appearance: none;
}

.Navbar.searchButtonNAV:hover {
  background: black;
  -webkit-appearance: none;
}