body{
    font-family:Roboto;

}

footer{
     background-color: #555;
     padding:15px 0px;
     top: 40vh;
     left:20vw;
}	       

.logo{
    color:#FFF;
    font-weight:800;
    font-size:30px;
}

.footer-list span , .social span{
   color: #FFF; 
   font-weight: 800; 
   padding-bottom: 1px; 
   /* margin-bottom: 20px; */
   display: block;
   text-transform: uppercase;
   font-size: 15px;
   letter-spacing: 3px;
}
 
.footer-list  li a , .footer-list  li p{
    color:#FFF;
    letter-spacing: 2px;
    text-decoration:none;
    font-size:12px;
}

.footer-list , .social{
    list-style: none;
}

.social li{
    float: left;
}

.social .fa{
    color:#FFFFFF;
    margin-right: 10px;
    font-size:30px;
}


p{
    color:#FFFFFF;
    font-size:8px;
}