* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: black;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color:black;
    padding: 10px 10px 10px 10px;
  }
 
  .nav > .nav-header > .nav-title > .N > .lnav{
    display: block;
    padding: 1px 1px 7px 1px;
    height: 45px;
  width: 45px;
  
  }
 
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #bebebe;
  }
  
  .nav > .nav-links > a:hover {
    color:white;
  text-decoration: none;
  cursor: pointer;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover {
      background-color: rgb(37, 37, 37)
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) + .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked + .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }






  /* search bar and search button */
.nearMeN {
  width: 15.5vw;
  padding: 1vmin 1vmin;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: px;
  box-sizing: border-box; 
  background-color: white;
  font-size: 1vmax;
  text-align: left;
  position: absolute;
  top: 4px;
  left:52.7vw;
  height: 3.5vh;
  -webkit-appearance: none;

}

.nearMeN input {
  width: 80%;
}


/* search bar and search button */
.searchN {
  width: 25vw;
  padding: 1vmin 1vmin;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: px;
  box-sizing: border-box; 
  background-color: white;
  font-size: 1vmax;
  text-align: left;
  position: absolute;
  top: 4px;
  left:23vw;
  height: 3.5vh;
 
  -webkit-appearance: none;
}
.searchN input {
  width: 400px;
  padding: 0 20px;
}

.searchN input,
input::-webkit-input-placeholder {
  font-size: 1vw;
  line-height: 3;
}

.searchlabelN{
  width: 5.5vw;
  padding: 1vmin 1vmin;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: px;
  box-sizing: border-box; 
  background-color: white;
  font-size: 1vw;
  
  text-align: center;
  position: absolute;
  top: 4px;
  left:18vw;
  height: 3.5vh;
    -webkit-appearance: none;
  font-weight: bold;
}
.searchlabelN:focus {
  outline: 0;

}

.nearMelabelN{
  width: 4.5vw;
  padding: 1vmin 1vmin;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: px;
  box-sizing: border-box; 
  background-color: white;
  font-size: 1vw;
  /* font-size-adjust: 0.58; */
  text-align: center;
  position: absolute;
  top: 4px;
  left: 48.2vw;
  height: 3.5vh;
    -webkit-appearance: none;
  font-weight: bold;
}
.nearMelabelN:focus {
  outline: 0;

}

.searchButtonN {
  top: 3.7px;
  left: 68.3vw;
  width:4vw;
  height:3.6vh;
  margin: 8px 0;
  /* left:20vw; */
  position: absolute;
  /* float:right; */
  /* transform: translate(-50%, -50%); */
  /* -ms-transform: translate(-550%, -820%); */
  background-color: #555;
  color: white;
  font-size: 1vmax;
  text-align: center;
  /* padding: 1vmin 1vmin; */
  border: none;
  cursor: pointer;
  border-radius: none;
  -webkit-appearance: none;
}

.searchButtonN:hover {
  background: black;
  -webkit-appearance: none;
}



.BackSearchN{
  background:  rgba(95, 95, 94, 0.932);
  top: -0.5px;
  height: 4.9vh;
  width: 56.2vw;
  left: 17vw;
  position: absolute;
  margin: 8px 0;
  opacity: 0.7;

}

.nav-content {
  position: absolute;
  overflow:hidden;
  background-color: #222222;
  max-height: 0;


}

.nav-content a{
  color: #bebebe;
  text-decoration: none;

}

.nav-content a:hover {
  color:white;
  text-decoration: none;
  cursor: pointer;
}

.nav-sub {
  padding:20px;
}

.nav-sub ul {
  padding:0;
  margin:0;
  list-style-type: none;
}

.nav-sub ul li a {
  padding:5px 0;
  display:inline-block;
}

 
 /* .nav-item:focus {
  
 } */

 /* .nav-item:focus ~ .nav-content {
  max-height: 400px;
 -mox-transition: max-height 0.4s ease-in;
 -webkit-transition: max-height 0.4s ease-in;
 transition: max-height 0.4s ease-in;
 } */


ul#menu{
  position:fixed;
  top:0;
  width:100%;
  height:3em;
  margin:0;
  padding:0 10px;
  background:#333;
  color:#eee;
  box-shadow:0 -1px rgba(0,0,0,.5) inset;
}

ul#menu > li{
  float:left;
  list-style-type:none;
  position:relative;
}

label{
  position:relative;
  display:block;
  padding:0 18px 0 12px;
  line-height:3em;
  transition:background 0.3s;
  cursor:pointer;
}

/* label:after{
  content:"";
  position:absolute;
  display:block;
  top:50%;
  right:5px;
  width:0;
  height:0;
  border-top:4px solid rgba(255,255,255,.5);
  border-bottom:0 solid rgba(255,255,255,.5);
  border-left:4px solid transparent;
  border-right:4px solid transparent;
  transition:border-bottom .1s, border-top .1s .1s;
  } */

label:hover,
input:checked ~ label{background:rgba(0,0,0,.3);}

/* input:checked ~ label:after{
  border-top:0 solid rgba(255,255,255,.5);
  border-bottom:4px solid rgba(255,255,255,.5);
  transition:border-top .1s, border-bottom .1s .1s;
} */

/*hide the inputs*/
input{display:none}

/*show the second levele menu of the selected voice*/
input:checked ~ ul.submenu{
  max-height:300px;
  transition:max-height 0.5s ease-in;
}

/*style for the second level menu*/
ul.submenu{
  max-height:0;
  padding:0;
  overflow:hidden;
  list-style-type:none;
  background:#444;
  box-shadow:0 0 1px rgba(0,0,0,.3);
  transition:max-height 0.5s ease-out;
  position:absolute;
  min-width:100%;
}

ul.submenu li a{
  display:block;
  padding:12px;
  color:#ddd;
  text-decoration:none;
  box-shadow:0 -1px rgba(0,0,0,.5) inset;
  transition:background .3s;
  white-space:nowrap;
}

ul.submenu li a:hover{
  background:rgba(0,0,0,.3);
}